@media screen and (min-width:800px){  
  body{
    height: 100%;
  }
    poligono{
    height: 100%;
    stroke: #yellow;
    }
  
    img{
    width: 50%;
    }
}
  
body{
    background: url(https://media.istockphoto.com/id/1185382671/es/vector/fondo-colorido-borroso-abstracto.jpg?s=612x612&w=0&k=20&c=MJ_7Wn1L45PM0Ilo0cgLs4h2SRRoi7rEj-Rau8tkYM8=) no-repeat center center fixed;
    background-size: cover;
    
}   

p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: justify;
    font-family: arial;
}

h1{
    color: rgb(225, 127, 0);
    font-size: 25px;
    text-decoration: underline;
    font-family: arial;
}

nav ul {
    background-color: rgb(0, 0, 0);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav a{
    text-decoration: none ;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li :hover{
    background-color: black;
}
h2{
    border: white 3px solid;
}
 #poligono {
     stroke: blue;
     stroke-width:5;
     fill:grey;
     fill-rule:evenodd;
     float: right;
     animation: animacion 3s infinite ease-in;
     height: 510px;
     width: 400px;
  }
  
@keyframes animacion {
  0% {
    transform: translateX(0px);
  }
 50% {
    transform: translateX(100px);
 }
 100% {
  transform: translateX(-100px);
 }
}
